/********************** GENERAL **********************/

/** target all HTML TAG  **/

:root {
  --bg-color: white;
  --blue: #0065fc;
  --lightblue: #deebff;
  --grey: #f2f2f2;
  --fontcolor: rgb(0, 0, 0);
  --shadowcolor: 0, 0, 0;
  --brightness: 105%;
  --saturates: 1.5;
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  transition: 0.2s; /** SET A GLOBAL TRANSITION FOR ALL ELEMENTS **/
}

body {
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
}

/** end target all HTML TAG **/

li {
  list-style: none;
  font-size: 18px;
}

.container-search,
.container-filter,
.container-footer {
  padding-left: 4%;
}

.container-activite {
  padding-left: 25px;
  padding-right: 25px;
}
.container-main {
  padding-left: 25px;
  padding-right: 25px;
}
p,
h1,
h2,
h3,
h4,
h5,
li,
ul {
  color: var(--fontcolor);
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}
h2,
h3,
h4 {
  font-weight: bold;
}

button,
input[type="button"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.logo,
li,
.card,
.container-main > h3,
body > div.container-main > div:nth-child(1) > h3,
body > div.container-filter > div > div > input {
  cursor: pointer;
}

.padding-20 {
  padding-top: 20px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.fontawesome {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

/********************** END GENERAL **********************/

/********************** HEADER **********************/
.container-header {
  display: flex;
  margin-right: 35px;
  align-items: flex-start;
}

.logo {
  padding-left: 15px;
  padding-top: 10px;
  flex-grow: 1;
}

.logo > img {
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  margin-top: 10px;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  color: var(--fontcolor);
}

.border_active {
  border-top: 3px solid;
  color: var(--blue);
  width: 60%;
  padding-bottom: 10%;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li:last-child {
  color: var(--fontcolor);
  padding-right: 50px;
  padding-left: 50px;
}

.active {
  color: var(--blue);
}

/********************** END HEADER **********************/

/********************** SEARCH SECTION  **********************/

.container-search {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

/** COMPONENT SEARCH FUNCTION **/

.search-input-group > input[type="text"],
textarea {
  background-color: var(--bg-color);
  font-weight: bold;
}

.inputgps::before {
  content: "\f3c5";
}

.search-input-group > .inputgps {
  background-color: var(--grey);
  min-width: 50px;
  max-width: 50px;
  height: 42.5px;
  border-top-left-radius: 15px 15px;
  border-bottom-left-radius: 15px 15px;
}

.search-input-group > .inputbutton {
  min-width: 135px;
  max-width: 135px;
  height: 42.5px;
  background-color: var(--blue);
  color: var(--bg-color);
  border-top-right-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
  margin-left: -5px;
}

.search-input-group > .inputbutton:hover {
  filter: saturate(var(--saturates));
}

.search-input-group > .inputclass {
  background-color: var(--grey);
  min-width: 250px;
  max-width: 250px;
  text-decoration: none;
  border: 1px solid;
  border-color: var(--grey);
  height: 35px;
  padding: 20px;
  margin-left: -5px;
}

/** END COMPONENT SEARCH FUNCTION **/

/********************** END SEARCH SECTION **********************/

/********************** FILTER SECTION **********************/
.container-filter {
  padding-top: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.container-filter > .subcontainer {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.filter-input-group {
  display:flex;
  padding-left: 25px;
}

.filter-input-group:hover button {
  filter: saturate(var(--saturates));
}

.filter-input-group:hover input {
  color: var(--blue);
}

.filter-input-group > .background_icone {
  position: absolute;
  background-color: var(--lightblue);
  margin-left: 1px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.filter-input-group > .inputtext {
  font-weight: bold;
  background-color: var(--white);
  border-radius: 43px / 35px;
  width: auto;
  border: 2px solid;
  border-color: var(--grey);
  height: 35px;
  padding: 20px;
}

.filter-input-group > .size_economique,
.size_romantique {
  min-width: 185px;
  max-width: 185px;
}

.filter-input-group > .size_animaux {
  min-width: 230px;
  max-width: 230px;
}

.filter-input-group > .size_familial {
  min-width: 155px;
  max-width: 155px;
}

.icone_romantique::before {
  content: "\f004";
  color: var(--blue);
}

.icone_animaux::before {
  content: "\f6d3";
  color: var(--blue);
}

.icone_familial::before {
  content: "\e59d";
  color: var(--blue);
}

.icone_economique::before {
  content: "\f3c5";
  color: var(--blue);
}

.icone_info {
  background-color: var(--white);
  border: 1px solid var(--grey);
  margin-left: 1px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.icone_info::before {
  content: "\f129";
  color: var(--blue);
}

/********************** END FILTER SECTION  **********************/

/********************** MAIN (HEBERGEMENT MARSEILLE + MOST POPULAR) SECTION **********************/

/** HEBERGEMENT MARSEILLE (LEFT) **/
.container-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 65px;
}

.container-main > .subcontainer {
  border-radius: 15px;
  padding-top: 43px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
}

.container-main > .subcontainer > h2,
.container-main > .subcontainer > h3 {
  padding-left: 18px;
}

.container-main > .subcontainer > h2,
.container-main > .subcontainer > .container-popular > h2 {
  padding-bottom: 20px;
}

.container-main > .subcontainer > h3 {
  padding-top: 20px;
}

.container-main > .subcontainer:first-child {
  flex: 0 0 64%;
}

.container-main > .subcontainer:last-child {
  flex: 0 0 31%;
}

.container-main > .subcontainer > .card-container-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
/** END HEBERGEMENT MARSEILLE (LEFT) **/

/** CARD COMPONENT HEBERGEMENT MARSEILLE **/

.card:hover {
  filter: brightness(var(--brightness));
}
.card {
  flex: 0 0 246px;
  /**margin-right: 20px;**/
  background-color: var(--bg-color);
  box-shadow: 0 4px 8px 0 rgba(var(--shadowcolor), 0.2);
  transition: 0.3s;
  border-radius: 20px;
  /**width: 320px;**/
}
.card-container-left > .card > .container > h4,
.card-container-left > .card > .container > p {
  padding-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.hebergement_img {
  border: 5px solid var(--bg-color);
  border-radius: 20px 20px 0 0;
  max-height: 125px;
  height: auto;
  object-fit: cover;
  width: 100%;
}
.img_100_percent {
  width: 100%;
}
.rating {
  display: flex;
  padding-left: 15px;
  padding-bottom: 10px;
}
.icone_stars_blue::before {
  content: "\f005";
  color: var(--blue);
}

.icone_stars::before {
  content: "\f005";
  color: var(--grey);
}
/** END CARD COMPONENT HEBERGEMENT MARSEILLE **/

/** MOST POPULAR RIGHT **/
.container-main > .subcontainer > .container-popular {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-main > .subcontainer > .container-popular > h2 {
  padding-left: 15px;
}

/** END MOST POPULAR RIGHT **/

/** CARD POPULAR RIGHT **/
.container-main > .subcontainer:last-child > .card-container-right {
  padding-left: 10px;
}
.popular_hebergement_img {
  object-fit: cover;
  border-radius: 20px 0px 0 20px;
  margin-left: 5px;
  height: 130px;
  max-height: 130px;
  width: 120px;
}

.container-main > .subcontainer:last-child > .card-container-right > .card {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  width: 344px;
  height: 142px;
}

.rating_popular {
  display: flex;
  padding-left: 20px;
  padding-bottom: 0px;
}

.card-container-right {
  display: inline;
}
.card-container-right > .card > .container {
  padding-top: 5px;
}
.card-container-right > .card > .container > h4,
.card-container-right > .card > .container > p {
  margin-top: 0;
  padding-bottom: 10px;
  padding-left: 22px;
  margin-block-start: 0;
  margin-block-end: 0;
  max-width: 180px;
}
.card-container-right > .card > .container > p {
  padding-bottom: 30px;
}

.bigicone_stars::before {
  padding-right: 15px;
  content: "\f005";
  color: var(--fontcolor);
  font-size: 21px;
}

/** END CAR POPULAR RIGHT **/

/********************** END MAIN (HEBERGEMENT MARSEILLE) SECTION  **********************/

/********************** ACTIVITE MARSEILLE *****************************************/

.container-activite > .subcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding-top: 30px;
}

.container_title_activite {
  padding-bottom: 10px;
  margin-left: 20px;
}
.activite_img {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  max-width: 300px;
  height: auto;
  width: 100%;
}

.h2_activite {
  padding-left: 50px;
}
.picture1,
.picture4 {
  /** COULD BE REWORKED TO 385 px **/
  height: 415px;
  max-height: 415px;
}

.picture2 {
  height: 181px;
  max-height: 181px;
  width: 300px;
}

.picture3 {
  height: 110px;
  max-height: 110px;
}

.picture5 {
  height: 140px;
  max-height: 140px;
  width: 300px;
}

.picture6 {
  height: 150px;
  max-height: 150px;
  width: 300px;
}

/********************** END ACTIVITE MARSEILLE *****************************************/

/********************** FOOTER SECTION **********************/
.container-footer {
  background-color: var(--grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 47px;
  margin-top: 60px;
}

.container-footer > .subcontainer:nth-child(1) {
  flex-grow: 1;
}
.container-footer > .subcontainer:nth-child(2) {
  flex-grow: 1;
}
.container-footer > .subcontainer:nth-child(3) {
  flex-grow: 1;
}
.container-footer > .subcontainer > ul > li > h3 {
  margin-block-start: 0;
  padding-bottom: 27px;
  margin-block-end: 0;
}
.container-footer > .subcontainer {
  display: flex;
  flex-direction: column;
}

.container-footer > .subcontainer > ul {
  margin: 0;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

.container-footer > .subcontainer > ul > li {
  padding-top: 10px;
}

/********************** END FOOTER SECTION **********************/
