@media only screen and (min-width: 993px) and (max-width: 1250px) {
  .container-main > .subcontainer:last-child > .card-container-right {
    padding-left: 0;
    padding-right: 0;
  }

  .container-main > .subcontainer {
    padding-left: 15px;
    padding-right: 15px;
  }

  .picture2,
  .picture3 {
    width: 195px;
  }
  .picture5,
  .picture6 {
    width: 245px;
  }

  .picture1,
  .picture4 {
    max-width: 250px;
  }
}
