@media only screen and (max-width: 769px) {
/** HEADER **/ 

.logo {
    padding-left: 0px;
}
.nav-menu {
    width: 100%;
}

.nav-menu > ul {
    padding-inline-start: 0px;
   
    flex: 0 0 100%;
    justify-content: flex-start;
}
.flex_linknav {
     display:flex;
     align-items: center;
     flex: 0 0 50%;
     flex-direction: column-reverse;
}
.container-header { 
    flex-direction: column;
    margin: 0px;
    align-items: center;
}
/** END HEADER **/
/** CONTAINER SEARCH **/ 

.search-input-group {
    flex-wrap: wrap;
}
/** END CONTAINER SEARCH **/ 
  /** CONTAINER MAIN **/

  .container-main {
    flex-direction: column-reverse;
  }
  .container-main > .subcontainer:first-child {
    margin-top: 30px;
    background-color: var(--bg-color);
  }

  .card-container-left > .card {
    flex: 0 0 100%;
  }

  .card-container-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .container-main > .subcontainer > .container-popular {
    /**justify-content: space-evenly;**/
  }

  .container-main > .subcontainer > .card-container-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .container-main > .subcontainer:last-child > .card-container-right > .card {
    flex: 0 0 48%;
    margin-bottom: 0px;
  }

  .container-main
    > .subcontainer:last-child
    > .card-container-right
    > .card:last-child {
    flex: 0 0 48%;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .container-main > .subcontainer:last-child > .card-container-right {
    padding-left: 0px;
  }

  .container-main > main > .card-container-right > .card > .container > h4,
  .container-main > main > .card-container-right > .card > .container > p {
    padding-left: 10px;
    max-width: 160px;
  }

  .popular_hebergement_img {
    width: 45%;
  }

  /** END CONTAINER MAIN **/

  /** CONTAINER ACTIVITE **/
  .margin-bottom-50 {
    margin-bottom: 20px;
  }
  .picture2,
  .picture3,
  .picture5,
  .picture6,
  .picture1,
  .picture4 {
    max-height: 132px;
    min-width: 300px;
  }
  /** END CONTAINER ACTIVITE **/

  /** FOOTER **/
  .container-footer {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container-footer > .subcontainer {
    margin-left: 13px;
    margin-bottom: 45px;
  }

  .container-footer > .subcontainer:last-child,
  .container-footer > .subcontainer:nth-child(3) {
    margin-bottom: 0px;
  }
  /** END FOOTER **/
}
